body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
body {
    font-family: 'Roboto';
    color: #f1f1f1;
}
.subheader{
    font-family: 'Raleway';
    color: #f1f1f1;
}
/* fonts */ 
.font-os {
    font-family: 'Open Sans', sans-serif;
}
.font-lato {
    font-family: 'Lato', sans-serif;
}

/* Buttons */ 
.btn-dark {
    background-image: linear-gradient(to right, #012935 0%, #012935  51%, #0082b3  100%);
    transition: 0.5s;
    background-size: 200% auto;
}
.btn-dark:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.vh-100 {
    height: 100vh;
}   
.vh-75 {
    min-height: 75vh;
}   
.vh-20 {
    min-height: 20vh;
}

/* Colours */
.text-dark-blue {
    color: #03465a;
}
.text-blue {
    color: #0082b3;
}
.text-blue-ts {
    color: #0082b3eb;
}
.text-heather {
    color: #c93d7fbf;
}
.text-light-muted {
    color: #b0b9c1;
}
.text-dark-slate {
    color: #3E466A;
}
.btn-blue-outline {
    color: #0083b3;
    border: 1px solid #0083b3;
    letter-spacing: 2px;
}
.btn-blue-outline:hover {
    background-color: #39b4e0;
    color: #fff;
}
.btn-blue {
    background-color: #0083b3;
    color: #fff;
    letter-spacing: 2px;
}
.btn-blue:hover {
    background-color: #39b4e0;
    color: #fff;
}

.nav-chevron-about {
    color:#fff;
    font-size: calc(18px + 1vmin);
    border: 0px;
    background: none !important;
    z-index: 3;
    bottom: 1px;
    position: absolute;
}
.nav-chevron-about:hover {
    color: #b6dfee;
}

.nav-chevron-projects,
.nav-chevron-contact {
    color: #0082b3;
    font-size: calc(18px + 1vmin);
    border: 0px;
    background: none !important;
    z-index: 3;
}
.nav-chevron-projects:hover,
.nav-chevron-contact:hover {
    color: #ad9820;
}

.spaced-5 {
    letter-spacing: 5px;
}

.spaced-2 {
    letter-spacing: 2px;
}
.uppercase {
    text-transform: uppercase;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.display-none{
    display: none;
}
button:focus {
    outline: none;
}
/* NAV */
header {
    text-align: right;
}
#toggle-btn {
    border: 0px;
    background: none !important;
    text-align: right;
    z-index: 2;
    right: 2vh;
    position: fixed;
    top: calc(10px + 1vmin); 

}

#toggle-icon {
    background-color: none !important;
    font-size: 1.33em;
}
.toggle-icon-blue {
    color: #00668c;
}
.toggle-icon-pink {
     color: #d36398;
}
.toggle-icon-pink:hover {
    color: #f3a7ca;
}
.toggle-icon-blue:hover {
    color: #0090c7;
}

#nav-menu {
    background-color: #f1f1f1a6;
    font-size: calc(12px + 1vmin);
    list-style: none;
    text-align: right;
    z-index: 2;
    right: 2vh;
    position: fixed;
    top: calc(35px + 1vmin); 
    letter-spacing: 1px;
    margin-top: calc(10px + 1vmin);
}
.nav-link a {
    color: inherit;
    display: block;
    height: 100%;
    width: 100%;
    padding: 1.5vh;
    text-decoration: none;
}
.nav-link {
    font-size: calc(10px + 1vmin);
    padding: 0px;
}
.nav-link-pink {
    color: #d36398;
}
.nav-link-blue {
    color: #00668c
}
.nav-link-pink a:hover {
    color: #f3a7ca;
}
.nav-link-blue a:hover {
    color: #0090c7
}

/* Jumbotron */
#jumbotron {
    min-height: 100vh;
    position: relative;
    width: 100%;
    height: auto;
    background-image: url('../img/blast-home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#jumbo-text {
    border: 3px solid #fff;
}
#jumbo-name {
    font-weight: 800;
    font-size: calc(15px + 5vmin);
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

.subheader {
    font-weight: 700;
    font-size: calc(22px + 2vmin);
}

/* About */
#about {
    background-color: rgb(255, 255, 255);
    background-image: url("../img/blue-blast.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    border-top: 5px solid #0083b328;
}
#about-text-container {
    border: 3px solid #0082b3;
    background-color: #fff;
}
#about-header {
    font-size: calc(25px + 2vmin);
}
.cv-link:hover {
    color: #ad9820;
}

/* Portfolio */
#projects {
    background-color: #fefefe;
    background-image: url("assets/img/jumbo-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    border-top: 5px solid #0083b328;
}




/* Contact */

.form-group {
    width: 100%;
}
.form-control {
    background-color: #fff;
    border-width: 1.5px;
}

@media (min-width: 1600px) { 
    .form-control {
        height: calc(1.5em + 1rem + 2px);
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
        margin-bottom: 15px;
    }
    #contactForm {
        padding-top: 10vh;
    }
}

h2,
h3,
h4 {
    letter-spacing: 5px;
}
#contact-send-btn {
    background-color: #fff;
    letter-spacing: 2px;
    color: #c93d7f;
}
#contact-send-btn:hover {
    background-color: #f3a7ca;
    color: #fff;
}
.form-control {
    border-color: #928391;
}
.form-control:focus {
    border-color: #ba37af;
    box-shadow: 0 0 0 0.2rem rgb(182 139 205 / 25%);
}

/* Project Cards & Modals */
.project-card-img {
    height: 32vh;
    width: 100%;
    opacity: 0.95;
    object-fit: cover;
}
.project-card {
    box-shadow: 2.5px 2.5px 3px grey;
    opacity: 1;
}
.card-col {
    background-image: url("../img/blast-home.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.card {
    width: 85%;
}
.card-body { 
    border: 0.5px solid #678d9c;
    border-top: none; 
}
.modal-img {
    width: 90%;
}
.modal-img:hover {
    cursor: pointer;
}
.modal-link {
    color: #678d9c;
}
.card-link:hover{
    cursor: pointer;
    color: #0082b3;
}

.modal-link:hover {
    color: #0082b3;
}
.screen-url {
    font-size: 27px;
}

/* Contact */
#contact {
    background-color: rgb(255, 255, 255);
    background-image: url("../img/contact-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
    border-top: 5px solid #d3639828;
}
@media (max-width: 992px) { 
  #contact {
    background-size: cover;
    }  
 }

@media (min-width: 992px) { 
  #contact {
    background-size: contain;
    }  
 }
 
/* Footer */
footer {
    padding-top: 20px;
}

.social-link {
    padding: calc(10px + 1vmin);
}

.social-link:hover i {
    color:#f3a7ca;
}

.social-link i {
    color: #f1f1f1;
    margin-top: 2px;
}

