body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
body {
    font-family: 'Roboto';
    color: #f1f1f1;
}
.subheader{
    font-family: 'Raleway';
    color: #f1f1f1;
}
/* fonts */ 
.font-os {
    font-family: 'Open Sans', sans-serif;
}
.font-lato {
    font-family: 'Lato', sans-serif;
}

/* Buttons */ 
.btn-dark {
    background-image: linear-gradient(to right, #012935 0%, #012935  51%, #0082b3  100%);
    transition: 0.5s;
    background-size: 200% auto;
}
.btn-dark:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

         

/* Colours */
.text-dark {
    color: #012935;
}
.text-blue {
    color: #0082b3;
}
.text-heather {
    color: #c93d7f;
}
.text-dark-slate {
    color: #3E466A;
}
.btn-xl {
  padding: 1.25rem 2.5rem;
}

.nav-chevron-about {
    color:#fff;
    font-size: calc(18px + 1vmin);
    border: 0px;
    background: none !important;
    z-index: 3;
    bottom: 1px;
    position: absolute;
}
.nav-chevron-about:hover {
    color: #305791;
}

.nav-chevron-projects,
.nav-chevron-contact {
    color: #0082b3;
    font-size: calc(18px + 1vmin);
    border: 0px;
    background: none !important;
    z-index: 3;
}
.nav-chevron-projects:hover,
.nav-chevron-contact:hover {
    color: #ad9820;
}

.spaced-5 {
    letter-spacing: 5px;
}

.spaced-2 {
    letter-spacing: 2px;
}
.uppercase {
    text-transform: uppercase;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.display-none{
    display: none;
}
button:focus {
    outline: none;
}
/* NAV */
header {
    text-align: right;
}
#toggle-btn {
    border: 0px;
    background: none !important;
    text-align: right;
    z-index: 2;
    right: 2vh;
    position: fixed;
    top: calc(10px + 1vmin); 

}

#toggle-icon {
    background-color: none !important;
    font-size: 1.33em;
}
.toggle-icon-light {
    color: #0082b3;
}
.toggle-icon-dark {
     color: #0082b3;
}
.toggle-icon-light:hover {
    color: #305791;
}
.toggle-icon-dark:hover {
    color: #ad9820;
}

#nav-menu {
    font-size: calc(12px + 1vmin);
    list-style: none;
    text-align: right;
    z-index: 2;
    right: 2vh;
    position: fixed;
    top: calc(35px + 1vmin); 
    letter-spacing: 1px;
    margin-top: calc(10px + 1vmin);
}
.nav-link a {
    color: inherit;
    display: block;
    height: 100%;
    width: 100%;
    padding: 1.5vh;
    text-decoration: none;
}

.nav-link {
    font-size: calc(10px + 1vmin);
    padding: 0px;
}
.nav-link-light {
    color: #0082b3;
}
.nav-link-dark {
    color: #012935;
}
.nav-link-light a:hover {
    color: #305791
}
.nav-link-dark a:hover {
    color: #305791
}

/* Jumbotron */
#jumbotron {
    min-height: 100vh;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 25vh;
    background-image: url('../img/blast-home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#jumbo-text {
    border: 3px solid #fff;
}
#jumbo-name {
    font-weight: 800;
    font-size: calc(15px + 5vmin);
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

.subheader {
    font-weight: 700;
    font-size: calc(22px + 2vmin);
}

/* About */
#about {
    background-color: rgb(255, 255, 255);
    background-image: url("../img/blue-blast.png");
    background-repeat: no-repeat;
    min-height: 100vh;
}
#about-text-container {
    border: 3px solid #0082b3;
    background-color: #fff;
}
#about-header {
    font-size: calc(25px + 2vmin);
}
.cv-link:hover {
    color: #ad9820;
}

/* Portfolio */
#projects {
    background-color: #fefefe;
    background-image: url("assets/img/jumbo-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    min-height: 100vh;
}




/* Contact */

.form-group {
    width: 100%;
}
.form-control {
    background-color: #f9f9f9;
}
h2,
h3,
h4 {
    letter-spacing: 5px;
}
#contact-send-btn {
    background-color: #fff;
    letter-spacing: 2px;
    color: #c93d7f;
}
#contact-send-btn:hover {
    background-color: #f3a7ca;
    color: #fff;
}
.form-control {
    border-color: #928391;
}
.form-control:focus {
    border-color: #ba37af;
    box-shadow: 0 0 0 0.2rem rgb(182 139 205 / 25%);
}

/* Project Cards & Modals */
.project-card {
    box-shadow: 2px 2px 2px grey;
    height: 32vh;
    width: 100%;
    opacity: 0.95;
    object-fit: cover;
}
.project-card:hover {
    box-shadow: 2.5px 2.5px 3px grey;
    opacity: 1;
}
.modal-img {
    width: 90%;
}
.modal-img:hover {
    cursor: pointer;
}
.modal-link {
    color: #6c757d;
}
.modal-link:hover {
    color: #ad9820;
}
.screen-url {
    font-size: 27px;
}

/* Contact */
#contact {
    background-color: rgb(255, 255, 255);
    background-image: url("../img/contact-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
}
@media (max-width: 576px) { 
  #contact {
    background-size: cover;
    }  
 }

@media (min-width: 576px) { 
  #contact {
    background-size: contain;
    }  
 }
 
/* Footer */
footer {
    padding-top: 20px;
}

.social-link {
    padding: calc(10px + 1vmin);
}

.social-link:hover i {
    color:#f3a7ca;
}

.social-link i {
    color: #f1f1f1;
    margin-top: 2px;
}

